/* header and nav layout */
header .nav-wrapper {
  background-color: var(--background-color);
  width: 100%;
  z-index: 2;
  position: fixed;
  padding: 10px 0;
  border-bottom: 2px solid #EBEBEB;
  box-shadow: 0 8px 20px 0 #00000042;
  padding-left: 24px;
  padding-right: 24px;
}

@media (width >=900px) {
  header .nav-wrapper {
    padding-left: 0;
    padding-right: 0;
  }
}


header .nav-wrapper.remove-top-nav-bar {
  top: 0;
}

header .top-nav-bar {
  background-color: #EBEBEB;
  box-shadow: 0 8px 20px 0 #00000042;
}

header .top-nav-bar .top-header {
  display: flex;
  justify-content: flex-end;
  padding: 5px 24px 5px 5px;
  max-width: 1200px;
  margin: auto;
}

header .top-nav-bar .top-header .top-header-title {
  border-right: 1px solid;
  margin-right: 10px;
  padding-right: 10px;
  font-size: 14px;
}

header .top-nav-bar .top-header .header-currency {
  font-size: 12px;
  background: none;
  border: none;
}

header .top-nav-bar .top-header .header-currency::after {
  content: '|';
  display: block;
}

.divider {
  margin: 0 5px;
}

select {
  appearance: none;
}

header nav {
  box-sizing: border-box;
  display: grid;
  grid-template:
    'hamburger brand tools'var(--nav-height) 'sections sections sections'1fr / auto 1fr auto;
  align-items: center;
  gap: 0 24px;
  margin: auto;
  max-width: 1248px;
  height: var(--nav-height);
  font-family: var(--body-font-family);
}

header nav[aria-expanded='true'] {
  grid-template:
    'hamburger brand'var(--nav-height) 'sections sections'1fr 'tools tools'var(--nav-height) / auto 1fr;
  overflow-y: auto;
  min-height: 100dvh;
}

header nav p {
  margin: 0;
  line-height: 1;
}

header nav .nav-tools p {
  display: flex;
  align-items: center;
  font-size: 14px;
  padding-right: 40px;
}

header nav .nav-tools p span {
  padding-left: 4px;
  height: 16px;
}

header nav[aria-expanded='true'] .section.nav-tools p {
  position: fixed;
  bottom: 0;
  padding-top: 24px;
  background-color: #FFF;
}

header nav[aria-expanded='true'] .section.nav-tools p span {
  padding-right: 24px;
  height: 24px;
}

@media (width >=900px) {
  header nav {
    display: flex;
    justify-content: space-between;
    gap: 0 32px;
    max-width: 1264px;
    padding: 0 24px;
  }

  header nav[aria-expanded='true'] {
    min-height: 0;
    overflow: visible;
  }
}

header nav a:any-link {
  color: currentcolor;
}

/* hamburger */
header nav .nav-hamburger {
  grid-area: hamburger;
  height: 22px;
  display: flex;
  align-items: center;
}

header nav .nav-hamburger button {
  height: 22px;
  margin: 0;
  border: 0;
  border-radius: 0;
  padding: 0;
  background-color: var(--background-color);
  color: inherit;
  overflow: initial;
  text-overflow: initial;
  white-space: initial;
}

header nav .nav-hamburger-icon,
header nav .nav-hamburger-icon::before,
header nav .nav-hamburger-icon::after {
  box-sizing: border-box;
  display: block;
  position: relative;
  width: 20px;
}

header nav .nav-hamburger-icon::before,
header nav .nav-hamburger-icon::after {
  content: '';
  position: absolute;
  background: currentcolor;
}

header nav[aria-expanded='false'] .nav-hamburger-icon,
header nav[aria-expanded='false'] .nav-hamburger-icon::before,
header nav[aria-expanded='false'] .nav-hamburger-icon::after {
  height: 2px;
  border-radius: 2px;
  background: currentcolor;
}

header nav[aria-expanded='false'] .nav-hamburger-icon::before {
  top: -6px;
}

header nav[aria-expanded='false'] .nav-hamburger-icon::after {
  top: 6px;
}

header nav[aria-expanded='true'] .nav-hamburger-icon {
  height: 22px;
}

header nav[aria-expanded='true'] .nav-hamburger-icon::before,
header nav[aria-expanded='true'] .nav-hamburger-icon::after {
  top: 3px;
  left: 1px;
  transform: rotate(45deg);
  transform-origin: 2px 1px;
  width: 24px;
  height: 2px;
  border-radius: 2px;
}

header nav[aria-expanded='true'] .nav-hamburger-icon::after {
  top: unset;
  bottom: 3px;
  transform: rotate(-45deg);
}

@media (width >=900px) {
  header nav .nav-hamburger {
    display: none;
    visibility: hidden;
  }
}

/* brand */
header .nav-brand {
  grid-area: brand;
  flex-basis: 128px;
  font-size: var(--heading-font-size-s);
  font-weight: 700;
  line-height: 1;
}

header nav .nav-brand img {
  width: 72px;
  height: auto;
}

@media (width >=900px) {
  header nav .nav-brand img {
    width: 128px;
    height: auto;
  }
}

/* sections */
header nav .nav-sections {
  grid-area: sections;
  display: none;
  visibility: hidden;
}

header nav[aria-expanded='true'] .nav-sections {
  display: block;
  visibility: visible;
  align-self: start;
}

header nav .nav-sections ul {
  list-style: none;
  padding-left: 0;
  font-size: var(--body-font-size-s);
}

header nav .nav-sections ul>li {
  font-weight: 500;
  padding-bottom: 20px;
  position: relative;
}

@media (width >=900px) {
  header nav .nav-sections ul>li {
    position: static;
  }
}

@media (width >=900px) {
  header nav .nav-sections ul>li {
    font-weight: 400;
    padding-bottom: 0;
    display: block;
  }
}

header nav .nav-sections ul>li>ul {
  margin-top: 0;
  display: none;
}

header nav .nav-sections ul>li>ul>li {
  font-weight: 400;
  padding-bottom: 0;
  padding-top: 8px;
}

header nav .nav-sections .nav-drop.is-active ul {
  display: flex;
  flex-direction: column;
  padding-top: 8px;
  padding-left: 24px;
}

header nav .nav-sections .nav-drop.is-active {
  display: block;
}

header nav .nav-sections .nav-drop::after {
  content: '';
  display: inline-block;
  transform: rotate(135deg);
  width: 8px;
  height: 8px;
  border: 2px solid currentcolor;
  border-radius: 0 1px 0 0;
  border-width: 2px 2px 0 0;
  position: absolute;
  right: 42px;
  top: 8px;
}

header nav .nav-sections .nav-drop.is-active::after {
  transform: rotate(-45deg);
  top: 10px;
}

@media (width >=900px) {
  header nav .nav-sections {
    display: block;
    visibility: visible;
    white-space: nowrap;
  }

  header nav[aria-expanded='true'] .nav-sections {
    align-self: unset;
  }

  header nav .nav-sections .nav-drop {
    padding-right: 16px;
    cursor: pointer;
  }

  header nav .nav-sections .nav-drop::after {
    content: '';
    display: inline-block;
    right: 2px;
    transform: rotate(135deg);
    width: 8px;
    height: 8px;
    border: 2px solid currentcolor;
    border-radius: 0 1px 0 0;
    border-width: 2px 2px 0 0;
    position: relative;
    top: -2px;
    left: 2px;
  }

  header nav .nav-sections .nav-drop[aria-expanded='true']::after {
    top: unset;
    bottom: 0.5em;
    transform: rotate(315deg);
  }

  header nav .nav-sections ul {
    display: flex;
    gap: 24px;
    margin: 0;
  }

  header nav .nav-sections .default-content-wrapper>ul>li {
    flex: 0 1 auto;
  }

  header nav .nav-sections .default-content-wrapper>ul>li>ul {
    display: none;
    position: relative;
  }

  header nav .nav-sections .default-content-wrapper>ul>li[aria-expanded='true']>ul {
    display: block;
    position: absolute;
    left: -24px;
    width: 200px;
    top: 150%;
    padding: 16px;
    background-color: var(--light-color);
    white-space: initial;
  }

  header nav .nav-sections .default-content-wrapper>ul>.nav-drop:hover>ul {
    display: flex;
    position: absolute;
    width: 100%;
    background-color: #FFF;
    left: 0;
    justify-content: space-evenly;
    padding: 24px 0;
    border-bottom: 2px solid #CCC;
    box-shadow: 0 8px 10px 0 #00000042;
  }

  header nav .nav-sections .default-content-wrapper>ul>li>ul>li {
    padding: 8px 0;
  }

  header nav .nav-sections .default-content-wrapper>ul>.nav-drop:hover>ul>li {
    padding-top: 32px;
  }

  header nav .nav-sections .default-content-wrapper>ul>.nav-drop:hover>ul::after {
    content: '';
    width: 100%;
    display: block;
    position: absolute;
    height: 2px;
    background-color: #CCC;
  }

  header nav .nav-sections .default-content-wrapper>ul>.nav-drop:hover::after {
    content: '';
    display: inline-block;
    right: 2px;
    transform: rotate(-45deg);
    width: 8px;
    height: 8px;
    border: 2px solid currentcolor;
    border-radius: 0 1px 0 0;
    border-width: 2px 2px 0 0;
    position: relative;
    top: 4px;
    left: 2px;
  }

  header nav .nav-sections .default-content-wrapper>ul>li>u {
    text-decoration: none;
  }

  header nav .nav-sections .default-content-wrapper>ul>.nav-drop>u {
    text-decoration: none;
  }

  header nav .nav-sections .default-content-wrapper>ul>.nav-drop:hover {
    text-decoration: underline;
  }
}

/* tools */
header nav .nav-tools {
  grid-area: tools;
}

@media (width >=900px) {
  header .top-nav-bar .top-header {
    padding: 5px 32px 5px 5px;
  }

  header .top-nav-bar .top-header .header-currency {
    font-size: 14px;
  }

  header nav .nav-tools p {
    font-size: initial;
    padding-right: 0;
  }

  header nav .nav-tools p span {
    height: initial;
    padding-left: 16px;
  }

  header nav[aria-expanded='true'] .section.nav-tools p {
    position: static;
    padding-top: 0;
  }
  
  header nav[aria-expanded='true'] .section.nav-tools p span {
    padding-right: 0;
  }
}