.product-details {
    margin-top: 80px;
}

.product-details > div {
    text-align: center;
}

.product-details > div > div > p {
    font-size: 20px;
    margin: 0;
    padding-bottom: 8px;
    justify-content: center;
    align-items: center;
}

.product-details > div > div > ul {
    padding: 0;
}

.product-details > div > div > ul li {
    list-style: none;
    font-size: 16px;
}

.product-details > div > div > p picture img {
    width: 100%;
    height: auto;
    border: 1px solid #CCC;
}

.product-details > div > div > p .icon {
    border: none;
    width: 28px;
    height: 28px;
}

.product-details > div > div > p .icon img {
    width: 100%;
    border: none;
    margin-left: 8px;
    position: relative;
    top: 7px;
}

@media (width >= 900px) {
    .product-details > div > div > p picture img {
        width: 50%;
    }

    .product-details > div > div > p .icon img {
        width: 100%;
        border: none;
    }
}